.skin-blue .main-header .navbar {
    background-color: #ff8609 !important;
}

.skin-blue .main-header .logo {
    background-color: #ff9f0a !important;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.btn-primary {
    background-color: #ff9f0a !important;
    border-color: #ff9f0a !important;
}

.img-circle {
    border-radius: 17% !important;
}

.box.box-info {
    border-top-color: #ff9f0a;
}

.user-panel>.image>img {
      box-shadow: 1px 1px 7px 2px #ffffff !important;
}

.sidebar-menu>li {

    border-bottom: 1px dashed #fff;
}

.box.box-default {
    border-top-color: #ff8609 !important;
}

button.dt-button {
    background: #ff8609 !important;
    color: #fff !important;
}



.dataTables_wrapper .dataTables_paginate .paginate_button:hover{

background:transparent !important;
border:0px solid !important;
}

table.dataTable thead .sorting_desc,table.dataTable thead .sorting ,table.dataTable thead .sorting_asc{
    background-image: none !important;
}



.btn-group-sm>.btn, .btn-sm {
    padding: 5px 6px;
    
    }
    
    
    	.dataTables_wrapper .dataTables_paginate .paginate_button{
		padding:0px !important;
		
	}
	
	
	div#employee-grid_processing {
    background-color: #ff8609;
    color: #ff8609;
    padding-top: 10px;
}
	
	.padleft0{
	    padding-left:0px !important;
	}
	
	.countimeis{
	        border: 1px solid;
    padding: 12px 5px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 17px;
	}
	
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  position: fixed;
  left:50%;
  top:50%;
  z-index:9999;
  height: 120px;
  animation: spin 2s linear infinite;
}

span.absent {
    background: red;
    padding: 6px;
    color: #fff;
}

span.present{
     background: green;
    padding: 6px;
    color: #fff;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logo-mini img{
	    width: 28px;
    position: relative;
    padding: 2px;
   
}